footer {
    background-color: #9BA633;
}
#social {
    width: 15%;    
}
.btn:hover {    
    animation: bounceOut;
    animation-duration: 2s;
}
#logo:hover {
    animation: wobble;
    animation-duration: 2s;
}
.link:hover {
    animation: flash;
    animation-duration: 2s;
    animation-delay: 300ms;
    
}
@media screen and (max-width:960px) {
    #social {
        width: 80%;
    }
}